<h3>Welcome to eLearning Management Solution</h3>
<p>eLMS is a simple and free online learning
  platform. Instructors can create courses and
  students can register for courses which
  include assignments, quizzes and support
  forums.
</p>
<a class="button" href="/users/signup">Sing Up Free</a>
<p>You need to SingUp to register for free classes</p>